@font-face {
    font-family: monotone;
    src: url("../fonts/Monoton-Regular.ttf");
}
@font-face {
    font-family: dancingScript;
    src: url("../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: lobster;
    src: url("../fonts/Lobster-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90vh;
    background-image: url(../media/images/pexels-julius-silver-753626.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.top_bar{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: #041f1e;
    /* position: fixed; */
}
.topbar_wrapper{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: .2em 0;
}
.top_header_contacts{
    width: 30%;
    display: flex;
    align-self: center;
    font-family: Segoe UI;
    color: #fff;
}
.top_header_contacts h3{
    margin-right: 5%;
}
.fa-phone-alt{
    transform: scaleX(-1);
    margin-right: .3em;
}
.phone{
    font-size: .7rem;
    font-weight: 500;
}
.fa-envelope{
    margin-right: .3em;
}
.email{
    font-size: .7rem;
    font-weight: 500;
}
.top_header_social{
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: end;
}
.social{
    margin-left: 5%;
    font-size: .7rem;
    color: #aeb857;
}

/* NAV Section  */
nav{
    width: 100%;
    font-family: Segoe UI;
    background-color: rgba(0,0,0,0.4);
    padding: .3em 0;

}
.nav_container{
    width: 95%;
    display: flex;
    margin-left: 2.5%;
    justify-content: space-between;
}
.nav_logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo h1{
    height: 100%;
    line-height: 100%;
    font-family: monotone;
    font-weight: 500;
    color: #fff;
}
.bars{
    display: none;
}
.nav_menus{
    width: 40%;
    display: flex;
    align-items: center;
    font-family: dancingScript;
    color: #fff;
}
.menu_options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_options li{
    list-style-type: none;
}
.menu_options li:hover{
    color: #aeb857;
    font-weight: 600;
}

/* Search_bar Section  */
.search_bar{
    display: flex;
    width: 40%;
    height: 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.input{
    font-size: 1rem;
    padding: .3em 0;
    text-indent: 5%;
    width: 88%;
    height: 100%;
    border: .15em solid white;
    border-right: none;
    background-color: rgba(242, 247, 222, 0.658);
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}
.input::placeholder{
    color: black;
}
.search_icon{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: .15em solid white;
    border-left: none;
    background-color: transparent;
    position: relative;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}
.fa-magnifying-glass{
    font-size: 1.41rem;   
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





/* places section  */

.places{
    width: 100%;
}

.places_header{
    color: #041f1e;
}
.places_header h2{
    font-weight: 600;
    padding: 0.3em 0 0.4em 0;
    font-size: 1.6rem;
    font-family: lobster;
    text-align: center;
}

.places_gallery{
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
}

.places_gallery > div {
    width: 24.6%;
    height: 50vh;   
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 0.9px rgba(0,0,0,0.2);

}

.places_gallery > div:nth-child(1){
    background-image: url("../media/images/places/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.places_gallery > div:nth-child(2){
    background-image: url("../media/images/places/mountain_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.places_gallery > div:nth-child(3){
    background-image: url("../media/images/places/beach_sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.places_gallery > div:nth-child(4){
    background-image: url("../media/images/places/waterfall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.places_desc{
    height: 57vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50vh;
    transition: 0.35s;
    font-family: poppins;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.places_desc h3{
    position: absolute;
    top: 0;
    margin-top: 0.4em;
    font-size: 1.15rem;
    font-weight: 400;
}

.places_desc button{
    text-transform: uppercase;
    font-size: .75rem;
    padding: .5em 1.1em;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    outline: none;
    font-weight: 900;
    font-family: Segoe UI;   
    cursor: pointer;
    border-radius: 0.3em;
}

.places_gallery > div:hover > .places_desc{
    top: 0;
}

.places_gallery button:hover{
    background-color: rgba(0,0,0,0.8);
}

/* Packages Section  */
.packages_header{
    color: #041f1e;
}

.packages_header h2{
    font-weight: 600;
    padding: 0.3em 0 0.4em 0;
    font-size: 1.6rem;
    font-family: lobster;
    text-align: center;
}

.packages_gallery{
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
}

.package_total{
    width: 19.6%;
    box-shadow: 0 0 0 0.6px rgba(0,0,0,0.2);
    border-radius: .3em;
    overflow: hidden;
}
.pkgImg_wrapper{
    overflow: hidden;
}

.pkgImg_wrapper img{
    transition: .4s;
    width: 100%;
    height: 60vh;
}
.pkgImg_wrapper img:hover{
    transform: scale(1.3);
}
.package_gallery_desc{
    text-align: center;
    font-family: poppins;
}
.package_gallery_desc h3{
    padding-top: 0.4em;
    font-size: 1.15rem;
}
.package_gallery_desc p{
    font-size: 0.9rem;
    padding: 0.3em 0;
}

.rating{
    width: 100%;
    height: 4vh;
    line-height: 4vh;
}
.rating1{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_rating1{
    width: 6.7em;
    height: 3vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub_rating1 .gray_star{
    height: 3.1vh;
    line-height: 4vh;
    position: absolute;
    color: gray;
    width: 100%;
    display: flex;
}
.sub_rating1 .yello_star{
    height: 3.5vh;
    line-height: 4vh;
    position: absolute;
    color: gold;
    width: 61%;
    overflow: hidden;
    display: flex;
}

.rating2{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_rating2{
    width: 6.7em;
    height: 3vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub_rating2 .gray_star{
    height: 3.1vh;
    line-height: 4vh;
    position: absolute;
    color: gray;
    width: 100%;
    display: flex;
}
.sub_rating2 .yello_star{
    height: 3.5vh;
    line-height: 4vh;
    position: absolute;
    color: gold;
    width: 59%;
    overflow: hidden;
    display: flex;
}

.rating3{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_rating3{
    width: 6.7em;
    height: 3vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub_rating3 .gray_star{
    height: 3.1vh;
    line-height: 4vh;
    position: absolute;
    color: gray;
    width: 100%;
    display: flex;
}
.sub_rating3 .yello_star{
    height: 3.5vh;
    line-height: 4vh;
    position: absolute;
    color: gold;
    width: 61%;
    overflow: hidden;
    display: flex;
}

.rating4{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_rating4{
    width: 6.7em;
    height: 3vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub_rating4 .gray_star{
    height: 3.1vh;
    line-height: 4vh;
    position: absolute;
    color: gray;
    width: 100%;
    display: flex;
}
.sub_rating4 .yello_star{
    height: 3.5vh;
    line-height: 4vh;
    position: absolute;
    color: gold;
    width: 80%;
    overflow: hidden;
    display: flex;
}
.rating5{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_rating5{
    width: 6.7em;
    height: 3vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub_rating5 .gray_star{
    height: 3.1vh;
    line-height: 4vh;
    position: absolute;
    color: gray;
    width: 100%;
    display: flex;
}
.sub_rating5 .yello_star{
    height: 3.5vh;
    line-height: 4vh;
    position: absolute;
    color: gold;
    width: 75%;
    overflow: hidden;
    display: flex;
}

/* Gallery Section  */
.galleries h2{
    font-weight: 600;
    padding: 0.3em 0 0.4em 0;
    font-size: 1.6rem;
    font-family: lobster;
    text-align: center;
}

.gallery{
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: .1em;
}
.video_wrapper{
    width: 49.8%;
}
.video_wrapper > video{
    width: 100%;
}
.gal_image{
    width: 24.7%;
    height: 40vh;
    display: flex;
}
.gal_image img{
    width: 100%;
}

/* Testimonial Sections  */
.testimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial h2{
    font-weight: 600;
    padding: 0.3em 0 0.1em 0;
    font-size: 1.6rem;
    font-family: lobster;
    text-align: center;
}

.testimonial p{
    font-family: menufont;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: .7em;
    color: #041f1e;    
}
.customer{
    width: 85%;
    display: flex;
}

.customer_img{
    width:25%;
    display: flex;
    flex-direction:flex-start;
    justify-content: center;
    padding-top: 0.34em;
}
.img_circular{
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background-image: url("../media/images/testimonials/profile_pic1.jpg");
    background-size: cover;
}
.customer_desc{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5em;
    box-shadow: 0 0 0 0.6px rgba(163, 162, 162, 0.26);
}
.customer_desc p{
    font-family: poppins;
    font-size: 0.85rem;
}

.customer_visits h3{
    font-family: poppins;
    font-size: 0.9rem;
    padding-bottom: 0.9em;
    color: #041f1e;
    
}
.customer_visits_img{
    display: flex;
    width: 50em;
    height: 9em;
    justify-content: space-between;
}
.customer_visits_img div:nth-child(1){
    background-image: url("../media/images/testimonials/visited/visit1.jpg");
    background-size: cover;
    width: 19%;
    background-position: center;
}
.customer_visits_img div:nth-child(2){
    background-image: url("../media/images/testimonials/visited/visit2.jpg");
    background-size: cover;
    width: 19%;
    background-position: center;
}
.customer_visits_img div:nth-child(3){
    background-image: url("../media/images/testimonials/visited/visit3.jpg");
    background-size: cover;
    width: 19%;
    background-position: center;
}
.customer_visits_img div:nth-child(4){
    background-image: url("../media/images/testimonials/visited/visit4.jpg");
    background-size: cover;
    width: 19%;
    background-position: center;
}

.customer_visits_img div:nth-child(5){
    background-image: url("../media/images/testimonials/visited/visit5.jpg");
    background-size: cover;
    width: 19%;
    background-position: center;
}

/* Blogs Section  */

.blogs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blogs > h2{
    font-weight: 600;
    padding: 0.3em 0 0.1em 0;
    font-size: 1.6rem;
    font-family: lobster;
    text-align: center;
}

.blog_wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.blog{
    width: 19.6%;
}

.blog_img{
    height: 45vh;
    margin-top: 0;
    background-color: rebeccapurple;
}
.blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 0 0.8px rgba(122, 121, 121, 0.26);
}
.blog_desc h2{
    font-size: 1.15rem;
    font-family: poppins;
    text-align: center;
    padding: .4em 0;
    color: #041f1e;
}

.blog_desc p{
    padding: 0 .5em;
    text-align: justify;
    font-family: poppins;
    font-size: .85rem;
    overflow: hidden;
    display: block;
    height: 27vh;
    margin-bottom: .5em;
}
.blog_desc button{
    color: #fff;
    background-color: #041f1e;
    font-family: poppins;
    border: none;
    outline: none;
    width: 30%;
    text-transform: uppercase;
    font-size: .7rem;
    padding: .3em 0;
    cursor: pointer;
    border-radius: .4em;
}

/* Footer Section  */

footer{
    height: 40vh;
    width: 100%;
    padding: 2em 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links_wrapper{
    background-color: #041f1e;
    display: flex;
    justify-content: space-between;
    height: 100%;
    color: #fff;
}

.googlemap{
    width: 40%;
}
.googlemap iframe{
    width: 100%;
    height: 100%;
}
.contact_info,
.quicklinks,
.social_footer{
    padding: 1.5em 0 0 .7em;
}
.contact_info h3,
.quicklinks h3,
.social_footer h3{
    margin-bottom: 1.5em;
}
.contact_info p,
.quicklinks p{
    line-height: 1.6em;
}

.quicklinks ul{
    list-style: none;
}

.social_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social_wrapper a{
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
}

.social_footer button{
    margin-top: 1.5em;
    font-size: 1rem;
    border-radius: 0.4em;
    padding: .4em .6em;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
}

@media screen and (max-width: 319px){
    header{
        height: 75vh;
    }
    .top_bar{
        display: none;
    }
    nav{
        height: 10%;
        background-color: rgba(0,0,0,0.7);
    }
    .nav_container{
        /* height: 100%; */
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav_logo{
        width: 100%;
        padding: .5em .3em;
    }
    .nav_logo h1{
        font-size: 1.2rem;
        font-family: lobster;
    }
    .nav_logo i{
        font-size: .8rem;
        color: white;
        display: block;
    }
    .nav_menus{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 0px;
        overflow: hidden;
        background-color: rgba(0,0,0,0.5);
    }
    .menu_options{
        flex-wrap: wrap;
        width: 25%;
        padding: .3em 0;
        row-gap: .3em;
    }
    .menu_options > li{
        font-size: .70rem;
        font-family: Segoe UI;
        width: 100%;
        font-weight: 600;
    }
    .search_bar{
        width: 80%;
        height: 8%;
    }
    .search_bar input{
        width: 85%;
        font-size: .7rem;
        text-indent: 1%;
        font-weight: 600;
    }
    .search_icon{
        width: 15%;
    }
    .fa-magnifying-glass{
        font-size: 1.15rem;
    }
    .places_header > h2,
    .packages_header > h2,
    .galleries > h2,
    .testimonial > h2,
    .blogs > h2{
        font-size: 1.2rem;
    }
    .places_gallery,
    .packages_gallery,
    .gallery,
    .blog_wrapper,
    .links_wrapper{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        row-gap: .3em;
    }
    .places_gallery > div,
    .package_total,
    .video_wrapper,
    .gal_image,
    .blog,
    .links_wrapper > div{
        width: 98%;
        margin-left: 1%;
    }
    .places_desc h3,
    .package_gallery_desc > h3{
        font-size: .85rem;
    }
    .package_gallery_desc > p{
        font-size: .75rem;
    }
    .testimonial > p{
        font-size: .75rem;
    }
    .customer{
        flex-wrap: wrap;
    }
    .customer_img{
        width: 100%;
    }
    .img_circular{
        height: 5em;
        width: 5em;
    }
    .customer_desc{
        width: 100%;
    }
    .customer_desc > p{
        font-size: .65rem;
    }

    .customer_visits > h3{
        width: 100%;
        font-size: .67rem;
        padding-bottom: 0;
    }
    .customer_visits_img{
        height: 3.5em;
        width: 100%;
    }
    .links_wrapper {
        height: auto;
    }
    .social_footer {
        padding: 0.5em 0 0 0.7em;
    }
    .social_wrapper{
        width: 60%;
        display: inline-block;
    }
    .social{
        margin-left: 0;
    }
    .blog_desc > h2{
        font-size: .9rem;
    }
    .blog_desc > p{
        font-size: .72rem;
        height: auto;
    }
    .links_wrapper  div > h3{
        font-size: 1rem;
    }
    .links_wrapper  div > p{
        font-size: .82rem;
    }
   
   
}

@media (min-width: 320px) and (max-width:480px) {
    .top_bar{
        display: none;
    }  
    nav{
        padding: 0;
    }
    .nav_container{
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
    }
    .nav_logo{
        width: 100%;
        padding: 0.4em;
        background-color: #041f1e;
        justify-content: space-between;
    }
    .fa-bars{
        display: block;
        color: white;
        font-size: 1rem;
    }
    
    .nav_menus{
        width: 100%;
        justify-content: center;
        background-color: rgba(0,0,0,0.7);
        font-family: Segoe UI;
        height: 0px;
        overflow: hidden;
        transition: .25s;
        height: 100%;
        height: 0px;
        overflow: hidden;
    }
    .menu_options{
        flex-wrap: wrap;
        width: 20%;
        row-gap: .3em;
        padding-bottom: .3em;
    }
    .menu_options li{
        width: 100%;
        font-weight: 600;
        font-size: .6rem;
    }
    header{
        height: 45vh;
    }
    .search_bar {
        width: 90%;
        top: 70%;
        height: 12%;
    }
    .search_bar input{
        width: 85%;
        font-size: .75rem;
        display: flex;
        align-self: center;
        border: 1px solid white;
    }
    .search_icon{
        width: 15%;
        align-self: center;
        display: flex;
        background-color: rgba(255, 68, 0, 0.425);
        border: 1px solid white;
    }
    .search_icon > i{
        font-size: .9rem;
    }
    .places_gallery{
        flex-wrap: wrap;
        row-gap: .5em;
    }
   .places_gallery div{
       width: 100%;
   }
   .packages_gallery{
       flex-wrap: wrap;
   }
   .package_total{
       width: 100%;
       margin-bottom: .5em;
   }
   .galleries h2{
       padding-top: none;
   }
   .gallery{
       flex-wrap: wrap;
       row-gap: .5em;
   }
   .video_wrapper{
       width: 100%;
   }
   .gal_image{
       width: 100%;
   }
   .customer{
       flex-wrap: wrap;
       height: auto;
   }
   .customer_img{
       width: 100%;
   }
   .customer_desc{
       width: 100%;
       text-align: justify;
   }
   .customer_desc p{
       font-size: .65rem;
   }
   .customer_visits{
       height: auto;
   }
   .customer_visits_img{
       width: 100%;
       /* flex-wrap: wrap; */
   }
   .customer_visits_img > div{
       height: 50%;
   }
   /* .visit1{
       width: 50%;
   }
   .visit2{
       width: 50%;
   }
   .visit3{
       width: 33%;
   }
   visit4{
       width: 33%;
   }
   .last_cust_visit_img{
       width: 33%;
   } */
   .blogs{
       width: 100%;
   }
   .blog_wrapper{
       width: 95%;
       margin-left: 2.5%;
       flex-wrap: wrap;
       row-gap: .5em;
   }
   .blog_wrapper div{
       width: 100%;
   }
   .blog_desc p{
       height: auto;
   }
 
   footer{
       padding-top: .7em;
       height: auto;
   }
   .links_wrapper{
       width: 100%;
       flex-wrap: wrap;
   }

   .contact_info{
       width: 50%;
       padding-right: .3em;
       padding-bottom: .4em;
   }
   .quicklinks{
       width: 50%;
       padding-bottom: .4em;
       padding-left: 1em;
   }
   .social_footer{
       width: 50%;
       padding-bottom: .5em;
   }
   .social_footer h3{
       margin-bottom: 1.1em;
   }
   .social_wrapper{
       display: flex;
       align-items: center;
   }
   .social_wrapper a{
       margin-left: 0px;
   }
   .social_wrapper button{
       margin-top: .5em;
   }
   .social{
       font-size: .9rem;
   }
 
   .googlemap{
       width: 100%;
   }
  
}

@media (min-width: 481px) and (max-width: 768px){
    header{
        height: 90vh;
    }
    .top_header_contacts{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: .3em 0;
        height: auto;
    }
    .top_header_contacts h3{
        margin-right: 0;
    }
    .top_header_social{
        display: none;
    }
    nav{
        background-color: rgba(66, 64, 64, 0.637);
    }
    .nav_container{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    .nav_logo{
        width: 100%;
        padding: .3em 1.2em;
        font-size: .95rem;
    }
    .fa-bars{
        display: block;
        color: white;
        font-size: 1rem;
    }
    .nav_menus{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 0px;
        overflow: hidden;
        transition: .25s;
        background-color: rgba(0,0,0,0.5);
    }
    .menu_options{
        width: 20%;
        flex-wrap: wrap;
        row-gap: .5em;
        padding: .5em 0;
    }
    .menu_options li{
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: .8rem;
    }
    .menu_options li:hover{
        color: #aeb857;
    }
    .search_bar{
        width: 70%;
        height: 6.5%;
        
    }
    .search_bar input{
        font-size: .78rem;
        font-weight: 600;
        height: 100%;
        outline: none;
        border: 2px solid white;
        border-right: none;
    }
    .search_icon{
        height: 100%;
        outline: none;
        background-color: goldenrod;
        border: 2px solid white;
        border-left: none;
    }
    .search_icon i{
        font-size: .8rem;
    }
    .places_header > h2,
    .packages_header > h2,
    .galleries > h2,
    .testimonial > h2,
    .blogs > h2{
        font-size: 1.4rem;
    }
    .places_gallery{
        flex-wrap: wrap;
        row-gap: .7em;
        column-gap: .5em;
    }
    .places_gallery > div{
        width: 49%;
    }
    .places_desc h3,
    .package_gallery_desc > h3{
        font-size: .9rem;
    }
    .package_gallery_desc > p,
    .testimonial > p{
        font-size: .7rem;
    }
    .packages_gallery{
        flex-wrap: wrap;
        row-gap: .7em;
    }
    .package_total{
        width: 49%;
    }
    .last_package{
        display: none;
    }
    .customer{
        flex-wrap: wrap;
    }
    .customer_desc{
        width: 100%;
        text-align: justify;
    }
    .customer_desc p{
        font-size: .8rem;
    }
    .customer_visits h3{
        font-size: 1.3rem;
    }
    .img_circular{
        height: 8em;
        width: 8em;
    }
    .customer_img{
        width: 100%;
    }
    .customer_visits_img{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        column-gap: .2em;
    }
    .customer_visits_img > div{
        width: 25%;
    }
    .customer_visits > h3{
        font-size: .85rem;
        padding-bottom: 0;
    }

    .blogs > h2{
        padding: 0;
    }
    .blog_wrapper{
        flex-wrap: wrap;
    }
    .blog{
        width: 98%;
        margin-left: 1%;
    }
    .blog_desc > p{
        height: auto;
        font-size: .82rem;
    }
    .blog_desc > h2{
        font-size: 1.05rem;
    }
    .blog_desc > button{
        padding: .3em 0;
        width: 20%;
    }
    .gallery{
        flex-wrap: wrap;
        row-gap: .7em;
    }
    .video_wrapper{
        width: 100%;
    }
    .gal_image{
        width: 49%;
    }
    footer{
        padding-top: .7em;
        height: auto;
    }
    .links_wrapper{
        width: 100%;
        flex-wrap: wrap;
    }
 
    .contact_info{
        width: 33%;
        padding-right: .3em;
        padding-bottom: .4em;
    }
    .quicklinks{
        width: 33%;
        padding-bottom: .4em;
        padding-left: 1em;
    }
    .social_footer{
        width: 33%;
        padding-bottom: .5em;
    }
    .social_footer h3{
        margin-bottom: 1.6em;
    }
    .social_wrapper{
        display: flex;
        align-items: center;
        width: 75%;
    }
    .social_wrapper a{
        margin-left: 0px;
    }
    .social_wrapper > button{
        margin-top: .5em;
    }
    .social{
        font-size: .9rem;
    }
    .social_footer button{
        margin-top: 2.2em;
    }
    .googlemap{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .top_header_contacts {
        width: 35%;
    }
    .customer_visits_img{
        width: 100%;
    }
    .places_gallery{
        flex-wrap: wrap;
        row-gap: 1em;
        column-gap: .4em;
    }
    .places_gallery > div{
        width: 49%;
    }
    .packages_gallery{
        flex-wrap: wrap;
        row-gap: 1em;
    }
    .pkg1, .pkg2, .pkg3{
        width: 32%;
    }
    .pkg4, .last_package{
        width: 49%;
    }
    .gallery{
        flex-wrap: wrap;
        row-gap: 1em;
    }
    .gal_image{
        width: 49%;
    }
    .blog_wrapper{
        flex-wrap: wrap;
    }
    .blog{
        width: 49%;
    }
    .last_blog{
        width: 100%;
    }

}
